body {
  font-family: 'Oswald','impact', sans-serif;

}

.container {
  width: 100%;
  /* background: #473026; */
  background: rgba(240,240,240,0.8);

  /* border-top-style: solid; */
  /* border-color: gray; */
}

.alex {
  width: 40%;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
}

h1 {
  padding: 20px 20px 0 0;
  margin: 0;
  /* display: inline-block;
  position: absolute; */
  top: 0;
  font-size: 5rem;

}

span {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  display: block;
  color: gray;
  /* position: absolute; */
  top: 92px;

}

p {
  display: inline-block;
  width: 60%;
  margin-top: 40px;
  line-height: 1.20
}

.side {
  /* display: inline-block; */
  width: 40%;
  /* position: absolute; */
  /* top: 0; */
  color: #414042;
  float: left;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-flex;
  padding: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: gray;
}

.fi {
  width: 7%;
  margin: 5px;
}

/* iframe {
  background: black;
} */


@media screen and (max-width:414px) {
  .alex {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  .side {
    width: 100%;
    padding-left: 10px;
  }

  p {
    width: 95%;
    margin: 2%;
  }
}
